div.title-header, div.active-img {
	display:inline-block;
	margin: 0px 3px 0px 3px;
}
#tabler_report
{
    
}

table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
#container-report-hfa{
    padding: 6px;
    overflow: hidden;
    min-height: 400px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #E2E2E2 1px solid;

}
#container-nps-module{
    padding: 8px;
}
#container-report{
    overflow: hidden;
    min-height: 250px;
}
.hfa-button,.hfa-select {
    display: inline-block;
    min-width: 54px;
    border: 1px solid #DADADA;
    text-align: center;
    color: #444;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #F4F7FA;
    background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F4F7FA));
    background-image: -webkit-linear-gradient(top,whiteSmoke,#F4F7FA);
    background-image: -moz-linear-gradient(top,whiteSmoke,#F4F7FA);
    background-image: -ms-linear-gradient(top,whiteSmoke,#F4F7FA);
    background-image: -o-linear-gradient(top,whiteSmoke,#F4F7FA);
    background-image: linear-gradient(top,whiteSmoke,#F4F7FA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F7FA',EndColorStr='#f1f1f1');
    margin: 5px auto 10px auto;
}
.hfa-button-run-cron{
    border: 1px solid #E0D1D1;

    color: #444;
    padding: 4px;
    background: #DBDBDB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.hfa-button-run-cron:hover{
    background: #C2B7B7;
    cursor: pointer;
}
.active-hfa{
    background: #D9DCDF;
}
.active-hfa-default{
    background: #D9DCDF;
}
.hfa-button:hover{
    background: #D9DCDF;
    cursor: pointer;
}
.loading_ajax_hfa {
    text-align:center;
    position:absolute;
    width:89px;
    height:64px;
    background-image:url(../images/loading_bg.png);
    z-index: 10;
}
.loading_ajax_rotating_hfa {
    position:absolute;
    left:29px;
    top:16px;
    width:31px;
    height:31px;
    background-image:url(../images/loading.gif);
    z-index: 11;
}
.group-button{
    /* margin: 10px 24% 2px 24%;*/
    overflow: hidden;
    border: #E2E2E2 1px solid;
    padding: 4px;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 96%;
    margin: 4px;
}
.group-button-2{
    /*margin: 10px 20% 2px 8%;*/
    overflow: hidden;
}
.group-button-4{
    /*margin: 10px 20% 2px 8%;*/
    padding:2px;
}
#group-button-option{
    display: none;
    overflow: hidden;
    border: #E2E2E2 1px solid;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 96%;
    margin: 4px;
}
#view-graphic-hfa{
    float: right;
    margin: 10px auto 4px auto;
}
.hfa-line{
    border-bottom: #DADADA 1px solid;
    margin-bottom: 5px;
}
#hfa-searh-word{
    margin: 5px auto 10px auto;
    float: right;
}
#input-search-word[type='text']{
    display: inline-block;
    min-width: 54px;
    border: 1px solid #DADADA;
    text-align: center;
    color: #444;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    width: 80%;
    font-size: 14px;

}
.status-ok{
    color: #52E918;
    font-weight: bold;
}
.status-unexecuted{
    color: #DB0E0E;
    font-weight: bold;
}
#container-manage-cron{
    min-height: 100px;

}

#container-filter{
    overflow: hidden;


    padding: 10px;
    -webkit-border-radius: 4px;
}

#btn_generate_nps_day{
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    overflow: visible;
    padding: 4px;
    width: auto;
    zoom: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear,left top,left bottom,from(#A57EC0),to(#46126A));
    background: -moz-linear-gradient(top,#A57EC0,#46126A);
    background-color: #46126A;
    border: 1px solid #3E1354;
    color: white;
    text-shadow: #172B73 0 -1px 0;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right;
