.main{
width: 300px;
border: 1px solid;
margin-left: auto;
margin-right: auto;
}
.witem{
border: 1px solid #CCC;
margin: 5px;
padding: 5px;
height: 50px;
width: 43%;
display: inline;
float: left;
overflow: hidden;
}
.wavatar{
/* border: 1px solid; */
width: 30%;
display: inline;
float: left;
}
.winfo{
width: 60%;
display: inline;
/* margin-bottom: 3px; */
margin-left: 5px;
overflow: hidden;
height: 12px;
font-size: 10px;
/* border: 1px solid; */
float: left;
}
.wicon{
display: inline;
float: right;
overflow: hidden;
height: 100%;
margin-right: 30px;
display:none;
}
.wicon img{
cursor:pointer;
}
#wdialog_dolphin{
display:none;
}
.w_rmore {
display: inline;
text-decoration: none;
height: 15px;
margin-right: 3px;
font-size: 11px;
text-align: center;
padding: 2px;
background: #49166D;
border: 1px solid black;
color: white;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
position: relative;
top: 5px;
border-image: initial;
margin-left:5px;
}
#dialog_message{
vertical-align:middle;
margin-left: auto;
margin-right: auto;
text-align: center;
background: white;
padding-bottom: 10px;
}

.topbar{
background-color:#66CC00; 
width:100%;
padding:2px;
height:20px;
color:white;
}
.xclose{
width: 20%;
display: inline;
right: 0px;
float: right;
text-align: right;
}
.welcome_top_text{
left:0px;
width:80%;
display:inline;
text-align:left;
}