<table wbx_repeat:module_actionsidth="100%" class="form_advanced_table points-action-items" cellpadding="0" cellspacing="0">
    <tr height="15">
      <th><bx_text:_trl_kpi_admin_title_action /></th>
        <th><bx_text:_trl_kpi_admin_alert_unit /></th>
        <th><bx_text:_trl_kpi_admin_alert_action /></th>
         <th><bx_text:_trl_kpi_admin_active /></th>
        <th>&nbsp;</th>
        </tr>
            <bx_repeat:module_actions>
                    <tr id = "row___id__">
                            <td align="center">__title__</td>
                            <td align="center">__alert_unit__</td>
                            <td align="center">__alert_action__</td>
                            <td align="center" style="padding-left: 6%;"><input type="checkbox" class="input_wrapper input_wrapper_checkbox" name="active" value="__id__" __checked__/>	</td> 
                            <td align="center">__delete_btn__</td>			
                    </tr>
            </bx_repeat:module_actions>
</table>



