
<div>
    <div id="container-report">
	
        <div id="container-filter">
            <div class="group-button" style="display:none;" id="group-filter">

                <div class="btn active" id="hfa-button-nps" onclick="javascript:TrlHfaManage.generateNps(this,'<bx_text:_trl_hfa_graphic_title_promoter_detractor />',true,true); TrlHfaManage.manageButtton(this,'group-button');"><bx_text:_trl_hfa_graphic_nps /></div>
                <div class="btn " onclick="javascript:TrlHfaManage.generateNpsPerSuperUnit(this,'text',true,true)"><bx_text:_trl_hfa_nps_super_unit /></div>
                <div class="btn" onclick="javascript:TrlHfaManage.getPopupNpsModuleGraphic(this)"><bx_text:_trl_hfa_graphic_nps_modules /></div>
                <div class="btn" onclick="javascript:TrlHfaManage.getTopPromoter(this)"><bx_text:_trl_hfa_graphic_nps_top_promoter /></div>
                <div class="btn" onclick="javascript:TrlHfaManage.getAllWord(this)"><bx_text:_trl_hfa_graphic_nps_all_word /></div>
                <div class="btn" onclick="javascript:TrlHfaManage.GetHtmlDownloadAll(this)"><bx_text:_trl_hfa_download_raw_data /></div>
            </div>
            <div id="group-button-option"></div>
        </div>
        <div class="clear"></div>
      
        <div id="container-general-report">
            <div id="loading-report-hfa"></div>
            <div id="container-report-hfa" style=" /*border: black 1px solid;*/"></div>
            <div id="table-detail" style="width:99.8%"></div>
            <div id="container-report-hfa2" style=" /*border: black 1px solid;*/"></div>
            <div id="table-detail-comparable-2" ></div>
            <form action="__header_export__" method="post" target="_parent" id="FormexportXls">
                <input type="hidden" id="datos_enviar" name="data_to_export">

            </form>
        </div>
    </div>
</div>

