<tr>
	<td width="1"><font color="white">__post_ago__ </font></td>
	<td>
		<div id="wall-event-__post_id__" class="wall-event common">
			<a name="wall-event-__post_id__"></a>
			__author_thumbnail__
			<table class="wall-balloon">
				<tr class="wall-head">
					<td class="wall-head-l">&nbsp;</td>
					<td class="wall-head-m">
						<a href="__author_url__" class="wall-author">__author_username__</a>
							 __post_wrote__  
												<span class="wall-caption-owner"><strong>__post_module__ </strong></span>	
					</td>
					<td class="wall-head-r">&nbsp;</td>
				</tr>
				<tr class="wall-cont">
					<td class="wall-cont-l">&nbsp;</td>
					<td class="wall-cont-m">
						<div class="wall-post-body"  style="width:490px; overflow:hidden;">__post_content__</div>
					</td>
					<td class="wall-cont-r">&nbsp;</td>
				</tr>
				<tr>
					<td class="wall-cont-l">&nbsp;</td>
					<td class="hashtag-posted-ago">__post_ago__  --  <a href = "__url_go_to_post__" > __url_go_to_post_text__ </a></td>
					<td class="wall-cont-r"></td>
				</tr>
				<tr class="wall-foot">
					<td class="wall-foot-l">&nbsp;</td>
					<td class="wall-foot-m">&nbsp;</td>
					<td class="wall-foot-r">&nbsp;</td>
				</tr>
			<tr>
				</tr> 
			</table>
			<div class="wall-comments" id="wall-comment-__post_id__" align="left">
			</div>
		</div>
		<div class="__cpt_class__" style="background-image:url(__cpt_icon_url__)">__content__</div>
	</td>
</tr>