<script type="text/javascript" language="javascript" src="__url_plugin_datatable__/js/jquery.dataTables.js"></script>
<script type="text/javascript"  src="__url_plugin_datatable__/TableTools/media/js/TableTools.min.js"></script>  
<style type="text/css">
	@import "__url_plugin_datatable__/css/demo_table.css";
</style> 
<link href="__url_plugin_datatable__/jquery-ui/css/south-street/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"  media="screen" />
<script type="text/javascript">
   $(document).ready(function() {
	   $('#table_report_hashstags').dataTable(	
			{
				"sDom": 'T<"clear"><"H"lfr>t<"F"ip>',
				"sPaginationType": "full_numbers",
				"aLengthMenu": [ 5,10, 25, 50, 100,200 ],
				"aaSorting": [[ 0, 'desc' ]],
				"bJQueryUI": true,
				"aoColumns": [ 
					{ "bSortable": true },
					{ "bSortable": true },
					{ "bSortable": true },
					{ "bSortable": true },
					{ "bSortable": true },
					{ "bSortable": true },
					{ "bSortable": true }

				]
			}
		);   
   });
</script>

<table id="table_report_hashstags" class="form_advanced_table points-action-items" cellpadding="0" cellspacing="0"  style="width: 100%;">
	<thead>
		<tr>
			<th>  HASHTAG   </th>
			<th>  START DATE   </th>
			<th>  TOTAL PHOTO COMMENTS   </th>
			<th>  TOTAL POSTS   </th>
			<th>  TOTAL LIKES   </th>
			<th>  USER THAT STARTED   </th>
			<th>  USER - MOST TAGS   </th>
		</tr>
	</thead>
	<bx_repeat:hashtags_info_rows>
		<tr id = "row___id__">
			<td align="center"><a href="__hashtag_link__" target="_blank" >__hashtag__</a></td>
			<td align="center">__start_date__</td>
			<td align="center">__total_photo_comments__</td>
			<td align="center">__total_post__</td>
			<td align="center">__total_likes__</td>
			<td align="center">__user_that_started__</td>
			<td align="center">__user_most_tags__</td>
		</tr>
	</bx_repeat:hashtags_info_rows>
</table>