<table id="table_report_hashstags" class="form_advanced_table points-action-items" cellpadding="0" cellspacing="0"  style="width: 100%;">
<!--	<thead>
		<tr>
			<th>  HASHTAG   </th>
			<th>  TOTAL POSTS   </th>
		</tr>
	</thead> -->
	<bx_repeat:hashtags_info_rows>
		<tr id = "row___id__">
			<td align="center"><a href="m/hashtags/view?hst=__hst_name__" target="_blank" >#__hst_name__</a></td>
			<td align="center">__count_hst__</td>
		</tr>
	</bx_repeat:hashtags_info_rows>
</table>