<script type="text/javascript" language="javascript" src="__url_plugin_datatable__/js/jquery.dataTables.js"></script>
<script type="text/javascript"  src="__url_plugin_datatable__/TableTools/media/js/TableTools.min.js"></script>  
<style type="text/css">
	@import "__url_plugin_datatable__/css/demo_table_wall.css";
</style> 
<link href="__url_plugin_datatable__/jquery-ui/css/south-street/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"  media="screen" />
<script type="text/javascript">
   $(document).ready(function() {
	   $('#table_hashstags_list').dataTable(	
			{
				"sDom": 't<"F"ilp>',
				"sPaginationType": "full_numbers",
				"aLengthMenu": [ 5,10, 25, 50, 100,200 ],
				"aaSorting": [[ 0, "desc" ]],
				"bSortClasses": false,
				"aoColumns": [ 
					{ "bVisible": false },
					null
				]
			}
		);   
   });
</script>

<div id="bxwall">
    <div class="wall-view"> 
		<table id="table_hashstags_list" cellpadding="0" cellspacing="0"  style="width: 100%;">
			__content__
		</table>
    </div>    
    __paginate__
    <div class="wall-loading" style="background-image:url(<bx_image_url:loading_bg.png />)"><img src="<bx_image_url:loading.gif />" /></div>
    <script language="javascript" type="text/javascript">
    
        __view_js_content__
    
    </script>
</div>